.image-container {
  background: var(--gray-background);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-start;

    span {
      background-color: var(--purple);
      color: white;
      padding: 3px 8px;

      border-radius: 3px;
    }

    .icon {
      background-color: var(--purple);
      padding: 5px;
      color: white;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
