.scanpath-display {
  position: relative;
  overflow: hidden;
}

.scanpath-display .original {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  user-select: none;
}

.scanpath-display .result {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  user-select: none;
}
