.upload {
  width: 444px;
  height: 400px;
  margin: 70px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px dashed var(--purple);
  border-radius: 10px;
  padding: 15px;

  #image-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .upload-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #a5a4a4;
  }

  .icon-container {
    position: relative;
    display: inline-block;
    width: fit-content;

    i {
      color: #c5c5c5;
      font-size: 50px;
    }

    .fa-plus {
      font-size: 22px;
      color: white;
      background-color: rgb(79, 2, 152);
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      top: 17px;
      left: 30px;
    }
  }
}
.innovation {
  border: 3px solid rgb(217, 216, 216);
  text-align: center;
  padding: 10px;
  width: 433px;
  margin: 28px auto;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  i {
    font-size: 30px;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    margin-left: -20px;
    text-align: center;
    color: black;
    width: 50px;
  }
  .idea {
    margin: 20px;
    font-weight: 700;
    color: var(--purple);
  }
}

.help {
  position: absolute;
  top: 63%;
  right: 0px;
  z-index: 3;
  background-color: black;
  color: white;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 45px;
  font-weight: bold;
  transform: translateY(5px);
  cursor: pointer;
}
