.services {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 66px;
}

*::selection {
  color: white;
  /* background: rgb(157, 59, 249); */
  background: blueviolet;
}

.services .container {
  width: 90%;
  margin: 0 auto;
}

.services .container h1 {
  color: var(--words);
  font-size: 53px;
}

.services .container .group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  margin-top: 50px;
}

.services .container .group .srv {
  display: flex;
  flex-direction: column;
  gap: 25px;
   border: 3px solid var(--border-ser); 
  border-radius: 10px;
  padding: 20px;
  text-align: start;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  background:var(--back-serveice);
  backdrop-filter: blur(10);
  
  &:hover {
    transform: scale(1.1) translateY(-5px);
    transition: all 0.3s linear;
  }
}

.services .container .group .srv i {
  font-size: 30px;
}

.services .container .group .srv h2 {
  font-size: 25px;
  /* font-family: "Philosopher", sans-serif; */
}

.services .container .group .srv p {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  text-align: justify;
  height: 40%;
}

.services .container .group .srv .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .container .group .srv .links .try {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-weight: 700;
  color: var(--DarkPurple);
  font-size: 17px;

  i {
    color: var(--gradient);
    margin-top: 2px;
    font-size: 14px;
  }
}

.services .container .group .srv .links .learn-more {
  color: var(--purple);
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.services .container .group .srv .links .try:hover {
  text-decoration: underline;
}

.services .group .srv .Btn i:hover {
  margin-right: 20px;
}