.services {
  text-align: center;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;

  h1 {
    color: var(--words);
    font-size: 53px;
  }

  .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 54px 1px;
    max-width: 1200px;
    margin: 0 auto;

    .srv {
      backdrop-filter: blur(10px);
      border: 2px solid var(--purple);
      border-radius: 10px;
      padding: 20px;
      text-align: start;
      flex: 1;
      box-shadow: 0px 0.5rem 1rem #808080b0;
      max-width: 300px;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      i {
        text-align: start;
        margin: 0px 34px;
        font-size: 30px;
      }

      h2 {
        margin: 20px;
        font-family: sans-serif;
      }

      p {
        text-align: start;
        margin: 20px;
        font-family: system-ui;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: start;
        text-decoration: none;
        font-weight: 700;
        color: var(--DarkPurple);
        font-size: 15px;

        span {
          margin-left: 7px;
        }

        span:hover {
          text-decoration: underline;
        }

        i {
          margin: 0px 9px;
          margin-top: 8px;
          color: var(--gradient);
          font-size: 15px;
        }
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .learn {
          text-decoration: underline;
        }
      }
    }

    .srv:hover {
      transform: scale(1.1) translateY(-10px);
      transition: all 0.3s linear;
      border: 2px solid var(--purple);
    }
  }
}

.services .group .srv .Btn i:hover {
  margin-right: 20px;
}
