main {
  background-color: var(--gray-background);
  padding: 10px 20px;
}

/* start tabs */
main .tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--purple);
  margin-left: 0;

  li {
    border: 2px solid var(--purple);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--white-background);
    color: var(--link-color);
    padding: 5px 15px;

    &:hover,
    &.active {
      background-color: var(--purple);
      color: #f0f0f0;
    }
  }
}

@media (max-width: 512px) {
  main {
    .tabs {
      gap: 5px;
      border-bottom: 1px solid var(--purple);

      li {
        border: 1px solid var(--purple);
        border-bottom: none;
        font-size: 12px;
      }
    }
  }
}

main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--white-background);
  margin: 30px auto 0;
  width: fit-content;
}

main .container .close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 28px;
  color: red;
  z-index: 5;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: none;
}

main .container .images-container {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 60px;
  box-shadow: 0 0 20px 10px lightgrey;
  border-radius: 10px;
  position: relative;
  justify-content: center;
}

@media (max-width: 1180px) {
  main .container .images-container {
    flex-direction: column;
  }
}
