header {
  /* position: sticky;*/
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  max-width: 100%;
  margin-bottom: 2px;
  z-index: 10;
  box-shadow: 0px -0.5rem 1rem rgb(123, 120, 120);
}

.links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.45);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  display: none;
  transition: all 0.3s linear;

  li {
    width: 100%;
    margin: 5px 5px;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    padding: 10px 30px;
    cursor: pointer;

    a {
      width: 100%;
    }
  }

  .link:hover {
    background-color: #f0f0f0;
  }

  .btn1 {
    bottom: 62px;
    position: absolute;
  }

  .btn {
    bottom: 3px;
    position: absolute;
  }

  .btn,
  .btn1 {
    width: 76%;
    margin: 0px 31px;
  }

  .btn1:hover {
    background: var(--gradient);
    color: white;
  }
}

.img {
  width: 80px;
  display: flex;
  align-items: center;
  margin-right: 68px;

  img {
    width: 100%;
  }

  span {
    color: var(--purple);
    font-weight: 700;
    font-size: 20px;
  }
}

.lg-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex: 1;
}

.lg-links li {
  list-style: none;

  i {
    margin-right: 7px;
    color: var(--purple);
  }

  #conn {
    transform: rotate(-24deg);
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-nav);
  }

  a:hover {
    color: var(--pink);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.btn1 {
  width: 130px;
  height: 45px;
  border: 2px solid var(--gradient);
  border-radius: 32px;
  background: var(--gradient);
  color: white;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn1:hover {
  box-shadow: 0rem 0rem 1.7rem var(--purple);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.btn {
  background-color: transparent;
  color: var(--gradient);
  border: 2px solid var(--purple);
  font-size: 19px;
  width: 130px;
  height: 45px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  box-shadow: 0rem 0rem 1.7rem var(--purple);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .buttons {
    gap: 4px;
  }

  .lg-links {
    gap: 33px;
    margin-left: 65px;
    margin-right: 0px;

    li {
      text-align: center;
    }
  }
}

@media (max-width: 990px) {
  /*header {
        padding: 0px;
        margin: 20px 18px;
    }*/

  .lg-links {
    gap: 20px;
  }

  .buttons {
    gap: 8px;

    .btn1,
    .btn {
      width: 120px;
      height: 39px;
    }
  }

  .img {
    width: 63px;

    span {
      font-size: 12px;
    }
  }
}

.menu {
  display: none;
}

@media (max-width: 768px) {
  /* header {
        padding: 0px;
        margin: 20px 18px;
    }*/

  .menu {
    display: block;
  }

  .buttons,
  .active {
    display: none;
  }
}

@media (max-width: 350px) {
  .img {
    width: 60px;

    span {
      font-size: 15px;
    }
  }
}

.theme-container {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 10px;
  transition: all 0.3s linear;
  border: 2px solid rgba(62, 57, 57, 0.571);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 20px;
  cursor: pointer;
  box-shadow: inset 0px 0px 4px gray;
}

.theme {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  transition: all 0.3s;
}

.fa-sun.move {
  transform: translate(20px, 0px) rotate(360deg);
}

.fa-moon.move {
  transform: translate(0px, 0px) rotate(-360deg);
}
