.recommend .head {
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
  background: url(../images/photo_2024-09-24_18-09-11.jpg) no-repeat
    center/cover;

  .group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 2px solid rgba(137, 135, 135, 0.5);
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(30px);
    /* تأثير 3D */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
      /* الظل السفلي */ 0 20px 40px rgba(0, 0, 0, 0.2); /* الظل الأعمق */
  }

  h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  p {
    max-width: 70%;
    text-align: center;
  }
}

.recommend .box {
  background: #e5e2e6;
}

.recommend .box .rules {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;

  h2 {
    color: var(--words);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }
}

.recommend .guideline {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-top: 40px;

  li {
    cursor: pointer;
    transition: background-image 0.3s linear, box-shadow 0.3s linear;
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  li:hover {
    background-image: var(--gradient);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }

  li.active {
    background-image: var(--gradient);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}

.recommend .contents {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.recommend .content {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--purple);
  text-align: center;
  p {
    padding-bottom: 20px;
    text-align: start;
    width: 700px;
    line-height: 1.7;

    span {
      font-size: 15px;
      color: #590486;
      font-weight: 600;
    }
  }

  button {
    color: white;
    border-radius: 8px;
    border: 2px solid var(--words);
    background: var(--gradient);
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 50px;
    transition: all 0.1s ease;
    box-shadow: 0px 0.5rem 1rem rgb(201, 201, 201);
  }

  button:active {
    box-shadow: none;
    transform: translateY(4px);
  }
}

.recommend .img {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .before,
  .after {
    position: relative;
    width: 300px;

    img {
      width: 100%;
    }
  }
}

.recommend .before::before {
  content: "Before";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #a7a7a75c;
  color: black;
  padding: 5px 10px;
  border-radius: 53%;
  font-weight: 800;
  border: 2px solid #a116d259;
  font-size: 12px;
  z-index: 1;
}

.recommend .after::after {
  content: "After";
  position: absolute;
  background-color: #a7a7a75c;
  top: 5px;
  right: 5px;
  color: black;
  padding: 5px 10px;
  border-radius: 53%;
  font-weight: 800;
  border: 2px solid #a116d259;
  font-size: 12px;
  z-index: 1;
}
