* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {
    background: url(../../../src/assets/backgroundLogin.png) no-repeat center/cover;
    height: 100vh;
    padding: 20px 0px
}

#login-form {
    width: 50%;
    margin:3px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.276);
    border-radius: 8px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); */

}

.form-title {
    text-align: center;
    color: #333;
    margin: 1px 0px;
    font-family: "Lemonada", serif;

}

.form-title img {
    width: 200px;
    vertical-align: middle;

}

p {
    text-align: center;
    color: #666;
    margin: 15px 10px;
    .account{
        text-decoration: underline;
    }
}

.email,
.password {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
    margin: 20px 0px;
    font-family: "Lemonada", serif;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.check {
    display: flex;
    justify-content: end;
    margin: 15px 0px;
    text-align: center;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-with {
    text-align: center;
    position: relative;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: center;
    hr {
        width: 30%;
    }

    .login-with {
        text-align: center;
        position: relative;
        margin: 15px 0px;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
}

.loginBtn,
.signBtn {


    margin: 15px 0px;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    border: none;
    color: white;
    background: var(--gradient);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Lemonada", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

@media (max-width: 786px) {
    #login-form {
        width: 100%;
        position: absolute;
        top: 22%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .email,
.password  {
        font-size: 12px;
        margin: 4px 0px;
    }

    input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-title{
        font-size: 16px;
        margin: 10px 0px;
    }

    p {
        font-size: 11px;
    }

    .signBtn,.loginBtn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}