* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --words: #5f00a2;
  --purple: #7406c2;
  --pink: #c709fc;
  --gradient: linear-gradient(100deg, var(--purple), var(--pink));
  --color-nav: #424040;
  --back: #eeeeee;
  --ground: rgb(255, 255, 255, 0.45);
  --background: linear-gradient(90deg, var(--back), var(--ground));
  --DarkPurple: rgb(88, 22, 195);
  --links-background: rgb(255, 255, 255, 0.45);
  --back-serv:#f1e9e9;
  --light-purple: #cec5f78e;
  --white: #ffffff;
  --back-serveice: linear-gradient(10deg, var(--light-purple), var(--white), var(--light-purple));
  --border-ser:rgba(255, 255, 255, 0);
  --background-footer:#4b2480;
  --linear: #cec5f7;
  --grad: #f4f7fc;
  --linear-gradient: linear-gradient(180deg, var(--linear), var(--grad));
  --shadow: rgba(0, 0, 0, 0.3);
} 

body[data-theme="dark"] {
  --linear:  #161518;
  --grad: #060124 ;
  --linear-gradient: linear-gradient(100deg, var(--linear), var(--grad));
  background: linear-gradient(100deg, var(--linear), var(--grad));
  --light-purple: #161518;
  --white: #070226;
  --back-serveice: linear-gradient(10deg, var(--light-purple), var(--white), var(--light-purple));
  color: white;
  --color-nav: white;
  --links-background: rgb(0, 0, 0, 0.85);
  --back-serv:#030f19;
  --border-ser:rgb(192, 188, 196);
  --background-footer:#4b248052;
  --shadow: rgba(255, 253, 253, 0.532);

  /* --back: #030f19; */
  /* --ground: linear-gradient(180deg, var(--linear), var(--grad)); */
  /* background-color: #030f19; */
  /* background-color: #030f19; */
  /* --DarkPurple: rgb(170 118 255); */
  /* --words: #c182ff; */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

body {
    font-family: 'Lemonada', cursive;
}
body {
  background-color: white;
  color: black;
   /* font-family:  Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}